
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#carrusel {
    position: relative;
    max-width: 100%; 
    height: 400px; 
    overflow: hidden; 
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
}

.slide {
    min-width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.product-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    padding: 0 20px;
}

.product-card {
    width: 30%;
    text-align: center;
    margin: 0 auto; 
    padding: 10px;
}

.product-card img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    
}

footer {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#logocabeza{
    text-align: left;
    width: 20%;
    margin-right: 10px;
}

#logo{
    display: flex;
    align-items: center;
}

h1{
    margin-left: 20%;
}

.product-box {
    background-color: rgba(0, 0, 0, 0.5);
    border: rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
    padding: 20px; 
    margin: 20px; 
    color: white;
}

.product-name {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px; 
    padding: 10px; 
    text-align: center; 
    margin-bottom: 5px;
}

.detail-box {
    background-color:rgba(0, 0, 0, 0.5); 
    border-radius: 5px; 
    padding: 5px; 
    text-align: center; 
    color: white;
}

.detail-box a{
    color: white;
    text-decoration: none;
}

.detail-box a:hover{
    text-decoration: underline;
}

.footer-bottom a{
 color: white;
 text-decoration: none;
}

.footer-bottom a:hover{
    text-decoration: underline;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }

  .social-icons a {
    font-size: 30px; /* Cambia el tamaño de la fuente según sea necesario */
    margin: 0 10px; /* Espacio entre los iconos */
    color: white; /* Cambia el color del icono si lo deseas */
    transition: transform 0.3s; /* Para una animación suave al pasar el ratón */
}

.social-icons a:hover {
    transform: scale(1.2); /* Aumenta el tamaño del icono al pasar el ratón */
}

